* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #f8f5f1;
    font-size: 1.1rem;
    color:  #a52907;
}

/*Headeer and Nav Section*/
header {
    position: relative;
    padding-left: 12px;
    position: fixed;
    top: 0;
    overflow: auto;
    width: 100%;
    z-index: 1;
    background-color: #f8f5f1;
}

.head-container {
    display: inline-block;
    position: relative;
}

.header {
    position: absolute;
    top: 30px;
    right: -20px;
    font-weight: bold;
}

.head{
    position: absolute;
    top: 60px;
    right: -76px;
}

nav ul {
    list-style-type: none;
    overflow: auto;
    text-align: right;
    position: absolute;
    top: 30px;
    right: 0;
    margin-right: 1rem;;
}

nav li {
    display: inline-block;
}

nav a {
    display: block;
    padding-right: 20px;
    padding-left: 15px;
    border-right: 1px solid #00000069;
    color: #a52907;
    text-decoration: none;
    font-weight: 600;
}

.active {
    color: #04425f;
}

.first {
    border: none;
}

.last {
    border: none;
    text-transform: capitalize;
}

nav a:hover:not(.active) {
    color: #04425f;
}

.material-symbols-outlined {
    display: inline-block;
    padding-right: 6px;
    color: #04425f;
}

#testing {
    display: inline-block;
    padding: 0;
    font-size: 2rem;
    position: absolute;
    top: 22px;
    left: 570px; 
    border: none;
    color: #fff;
}

/*design for the body*/
main {
    margin-top: 107px;
    border: 2px solid #000;
    padding: none;
}


